/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #22232e;
  font-family: 'Poppins', sans-serif;
}

section {
  width: 100%;
} */

container__error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  column-gap: 20px;
}

container__error img {
  width: 420px;
}

.text {
  display: block;
  padding: 40px 40px;
  width: 450px;
}

.text h1 {
  color: #00c2cb;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 15px;
}

.text p {
  font-size: 15px;
  color: #e0ffff;
  margin-bottom: 15px;
  line-height: 1.5rem;
  margin-bottom: 15px;
}

@media screen and (max-width:600px) {
  .container__error {
    display: flex;
    flex-direction: column-reverse;
  }

  .text,
  .image {
    width: 100%;
  }

  .container__error {
    min-width: 200px;
    padding: 40px 0px;
  }

  .text {
    display: block;
    width: 100%;
    padding: 20px 40px;
  }

  .image {
    display: flex;
    width: 200px;
    align-self: center;
    justify-content: center;
    margin: auto;
  }
}